{#
 # 2019-2025 Team Ever
 #
 # NOTICE OF LICENSE
 #
 # This source file is subject to the Academic Free License (AFL 3.0)
 # that is bundled with this package in the file LICENSE.txt.
 # It is also available through the world-wide-web at this URL:
 # http://opensource.org/licenses/afl-3.0.php
 # If you did not receive a copy of the license and are unable to
 # obtain it through the world-wide-web, please send an email
 # to license@prestashop.com so we can send you a copy immediately.
 #
 # @author    Team Ever <https://www.team-ever.com/>
 # @copyright 2019-2025 Team Ever
 # @license   http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 #}
{% set productId = product.id_product|default(product.id|default(0)) %}
{% set productAttributeId = product.id_product_attribute|default(0) %}
{% set productUrl = product.canonical_url|default(product.url|default('#')) %}
<article class="product-miniature js-product-miniature" data-id-product="{{ productId }}" data-id-product-attribute="{{ productAttributeId }}">
  <div class="thumbnail-container">
    {% if product.cover is defined and product.cover is not empty and product.cover.bySize is defined %}
      {% set cover = product.cover.bySize.home_default|default(product.cover.bySize.small_default|default(product.cover.bySize.medium_default|default(null))) %}
      {% if cover %}
        <a class="thumbnail product-thumbnail" href="{{ productUrl }}">
          <img src="{{ cover.url|default('') }}"
               alt="{{ product.cover.legend|default(product.name|default('')) }}"
               loading="lazy">
        </a>
      {% endif %}
    {% endif %}
    <div class="product-description">
      <h3 class="h3 product-title">
        <a href="{{ productUrl }}">{{ product.name|default('') }}</a>
      </h3>
      {% if product.price is defined and product.price is not empty %}
        <div class="product-price-and-shipping">
          {{ product.price|raw }}
        </div>
      {% endif %}
      {% if product.description_short is defined and product.description_short is not empty %}
        <div class="product-description-short" aria-hidden="true">
          {{ product.description_short|raw }}
        </div>
      {% endif %}
      {% if product.flags is defined and product.flags is not empty %}
        <ul class="product-flags">
          {% for flag in product.flags %}
            <li class="product-flag {{ flag.type|default('') }}">{{ flag.label|default('') }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</article>
