{% if display_upgrade %}
    <div class="everblock-config__card">
        <div class="panel everheader">
            <div class="panel-body">
                <div class="col-12 col-xs-12 col-lg-12">
                    <p class="alert alert-warning">
                        {{ 'An upgrade for Ever Block is available on our shop.'|trans({}, 'Modules.Everblock.Admin') }}
                        <a class="btn btn-warning ml-2" href="https://www.team-ever.com" target="_blank">
                            {{ 'Get latest version'|trans({}, 'Modules.Everblock.Admin') }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% set quickLinks = {} %}
{% for key, value in admin_links|default({}) %}
    {% if value %}
        {% set quickLinks = quickLinks|merge({ (key): value }) %}
    {% endif %}
{% endfor %}
{% if quickLinks is not empty %}
    <div class="everblock-config__card">
        <h3 class="everblock-sidecard__title">
            <i class="icon-th-large"></i>
            {{ 'Quick actions'|trans({}, 'Modules.Everblock.Admin') }}
        </h3>
        <ul class="everblock-sidecard__actions">
            {% if quickLinks.blocks is defined %}
                <li>
                    <a class="everblock-sidecard__link" href="{{ quickLinks.blocks }}">
                        <span class="everblock-sidecard__icon"><i class="icon-puzzle-piece"></i></span>
                        <span>
                            <strong>{{ 'Manage blocks'|trans({}, 'Modules.Everblock.Admin') }}</strong>
                            <small>{{ 'Create, schedule and personalise content blocks.'|trans({}, 'Modules.Everblock.Admin') }}</small>
                        </span>
                    </a>
                </li>
            {% endif %}
            {% if quickLinks.shortcodes is defined %}
                <li>
                    <a class="everblock-sidecard__link" href="{{ quickLinks.shortcodes }}">
                        <span class="everblock-sidecard__icon"><i class="icon-code"></i></span>
                        <span>
                            <strong>{{ 'Manage shortcodes'|trans({}, 'Modules.Everblock.Admin') }}</strong>
                            <small>{{ 'Build reusable snippets for your CMS and product pages.'|trans({}, 'Modules.Everblock.Admin') }}</small>
                        </span>
                    </a>
                </li>
            {% endif %}
            {% if quickLinks.faq is defined %}
                <li>
                    <a class="everblock-sidecard__link" href="{{ quickLinks.faq }}">
                        <span class="everblock-sidecard__icon"><i class="icon-question-sign"></i></span>
                        <span>
                            <strong>{{ 'Manage FAQ'|trans({}, 'Modules.Everblock.Admin') }}</strong>
                            <small>{{ 'Update customer-facing answers in a few clicks.'|trans({}, 'Modules.Everblock.Admin') }}</small>
                        </span>
                    </a>
                </li>
            {% endif %}
            {% if quickLinks.hooks is defined %}
                <li>
                    <a class="everblock-sidecard__link" href="{{ quickLinks.hooks }}">
                        <span class="everblock-sidecard__icon"><i class="icon-sitemap"></i></span>
                        <span>
                            <strong>{{ 'Manage hooks'|trans({}, 'Modules.Everblock.Admin') }}</strong>
                            <small>{{ 'Control where content appears across your store.'|trans({}, 'Modules.Everblock.Admin') }}</small>
                        </span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}

{% if configuration_form %}
    <div class="everblock-config__card everblock-config__card--form">
        {{ configuration_form|raw }}
    </div>
{% endif %}
