{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('modules/everblock/views/css/ever.css') }}">
    <link rel="stylesheet" href="{{ asset('modules/everblock/views/css/everblock.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('modules/everblock/views/js/admin.js') }}"></script>
{% endblock %}

{% block content %}
<div class="everblock-config-wrapper">
    <div class="panel row everblock-header">
        <div class="col-md-8">
            <h3 class="mb-3">
                <i class="icon icon-smile"></i>
                {{ 'Ever Block'|trans({}, 'Modules.Everblock.Admin') }} {{ module_version ?? '' }}
            </h3>
            <a href="#everlogobottom">
                <img id="everlogotop" class="img-fluid" src="{{ asset('modules/everblock/logo.png') }}" alt="{{ 'Ever Block logo'|trans({}, 'Modules.Everblock.Admin') }}" style="max-width: 120px;" />
            </a>
            <p class="mt-2">{{ 'Thanks for using Team Ever\'s modules'|trans({}, 'Modules.Everblock.Admin') }}<br /></p>
        </div>
        <div class="col-md-4 text-right mt-3">
            {% if shortcode_docs is defined and shortcode_docs|length > 0 %}
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#everblockShortcodeModal">
                    <i class="icon-book"></i> {{ 'Shortcode documentation'|trans({}, 'Modules.Everblock.Admin') }}
                </button>
            {% endif %}
            {% if modules_list_link is defined and modules_list_link %}
                <a href="{{ modules_list_link }}" class="btn btn-default">
                    <i class="process-icon-back"></i> {{ 'Back to modules'|trans({}, 'Modules.Everblock.Admin') }}
                </a>
            {% endif %}
            {% for action in quick_actions|default([]) if action.url and action.identifier not in ['modules', 'configuration'] %}
                <a href="{{ action.url }}" class="btn btn-success">
                    {{ action.label }}
                </a>
            {% endfor %}
            {% set configurationUrl = configuration_url|default(path('everblock_admin_configuration')) %}
            {% if configurationUrl and app.request.get('_route') != 'everblock_admin_configuration' %}
                <a href="{{ configurationUrl }}" class="btn btn-primary">
                    <i class="icon-cogs"></i> {{ 'Configuration'|trans({}, 'Modules.Everblock.Admin') }}
                </a>
            {% endif %}
            {% if donation_link is defined and donation_link %}
                <a href="{{ donation_link }}" class="btn btn-warning" target="_blank">
                    <i class="icon-money"></i> {{ 'Make a donation'|trans({}, 'Modules.Everblock.Admin') }}
                </a>
            {% endif %}
        </div>
    </div>

    {% if shortcode_docs is defined and shortcode_docs|length > 0 %}
        <div class="modal fade" id="everblockShortcodeModal" tabindex="-1" role="dialog" aria-labelledby="everblockShortcodeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Close'|trans({}, 'Modules.Everblock.Admin') }}">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="everblockShortcodeModalLabel">
                            <i class="icon-code"></i> {{ 'Available shortcodes'|trans({}, 'Modules.Everblock.Admin') }}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p class="text-muted">
                            {{ 'Use these shortcodes inside your blocks, CMS pages or PrettyBlocks zones.'|trans({}, 'Modules.Everblock.Admin') }}
                        </p>
                        {% for everblock_shortcode_category in shortcode_docs %}
                            <div class="panel panel-default everblock-shortcode-panel">
                                <div class="panel-heading">
                                    <strong>{{ everblock_shortcode_category.title }}</strong>
                                </div>
                                <div class="panel-body">
                                    {% if everblock_shortcode_category.entries is defined and everblock_shortcode_category.entries %}
                                        <ul class="list-unstyled everblock-shortcode-list">
                                            {% for everblock_shortcode_entry in everblock_shortcode_category.entries %}
                                                <li class="everblock-shortcode-list__item">
                                                    <div class="everblock-shortcode-list__header">
                                                        <code class="everblock-shortcode-list__code">{{ everblock_shortcode_entry.code }}</code>
                                                    </div>
                                                    <p class="everblock-shortcode-list__description">
                                                        {{ everblock_shortcode_entry.description }}
                                                    </p>
                                                    {% if everblock_shortcode_entry.parameters is defined and everblock_shortcode_entry.parameters %}
                                                        <ul class="list-unstyled everblock-shortcode-params">
                                                            {% for everblock_shortcode_param in everblock_shortcode_entry.parameters %}
                                                                <li class="everblock-shortcode-params__item">
                                                                    {% set badgeClass = everblock_shortcode_param.required ? 'label-primary' : 'label-default' %}
                                                                    <span class="label {{ badgeClass }}">
                                                                        {% if everblock_shortcode_param.required %}
                                                                            {{ 'Required'|trans({}, 'Modules.Everblock.Admin') }}
                                                                        {% else %}
                                                                            {{ 'Optional'|trans({}, 'Modules.Everblock.Admin') }}
                                                                        {% endif %}
                                                                    </span>
                                                                    <strong class="everblock-shortcode-params__name">{{ everblock_shortcode_param.name }}</strong>
                                                                    {% if everblock_shortcode_param.description is defined and everblock_shortcode_param.description %}
                                                                        <span class="everblock-shortcode-params__description">- {{ everblock_shortcode_param.description }}</span>
                                                                    {% endif %}
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            {{ 'Close'|trans({}, 'Modules.Everblock.Admin') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% set has_notifications = notifications is defined and notifications %}
    {% if has_notifications %}
        <div class="everblock-config__notifications">
            {{ notifications|raw }}
        </div>
    {% endif %}

    {% if app is defined and app.session is defined %}
        {% for type, flashes in app.session.flashbag.all() %}
            {% for message in flashes %}
                <div class="everblock-config__notifications">
                    <div class="alert alert-{{ type }}">{{ message|raw }}</div>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <section class="everblock-config__hero">
        <div class="everblock-config__hero-main">
            <span class="everblock-config__badge">{{ 'Module'|trans({}, 'Modules.Everblock.Admin') }}</span>
            <h2 class="everblock-config__hero-title">{{ module_name }}</h2>
            <p class="everblock-config__hero-description">
                {{ 'Fine-tune the behaviour, integrations and automation rules of Ever Block from a single, curated control centre.'|trans({}, 'Modules.Everblock.Admin') }}
            </p>
            <div class="everblock-config__hero-meta">
                <span class="everblock-chip">
                    <i class="icon-tag"></i>
                    {{ 'Version'|trans({}, 'Modules.Everblock.Admin') }} {{ module_version ?? 'n/a' }}
                </span>
            </div>
            {% if breadcrumbs is defined and breadcrumbs|length > 0 %}
                <ol class="breadcrumb mt-3">
                    {% for crumb in breadcrumbs %}
                        <li class="breadcrumb-item{% if loop.last %} active{% endif %}">
                            {% if crumb.url and not loop.last %}
                                <a href="{{ crumb.url }}">{{ crumb.label }}</a>
                            {% else %}
                                {{ crumb.label }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
            {% endif %}
        </div>

        <div class="everblock-config__hero-stats">
            {% set stats = module_stats|default({}) %}
            {% if stats is iterable and stats|length > 0 %}
                {% set statLabels = {
                    'blocks_active': 'Active blocks'|trans({}, 'Modules.Everblock.Admin'),
                    'shortcodes': 'Shortcodes'|trans({}, 'Modules.Everblock.Admin'),
                    'flags': 'Flags'|trans({}, 'Modules.Everblock.Admin'),
                    'tabs': 'Product tabs'|trans({}, 'Modules.Everblock.Admin')
                } %}
                {% for key, label in statLabels %}
                    <div class="everblock-config__stat">
                        <div class="everblock-config__stat-value">{{ stats[key]|default(0) }}</div>
                        <div class="everblock-config__stat-label">{{ label }}</div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>

    <div class="everblock-config__layout">
        <div class="everblock-config__main">
            {% if content_template %}
                {% include content_template with content_data %}
            {% else %}
                {% block everblock_content %}{% endblock %}
            {% endif %}
        </div>

        <aside class="everblock-config__aside">
            <div class="everblock-sidecard">
                <h3 class="everblock-sidecard__title">
                    <i class="icon-th-large"></i>
                    {{ 'Quick actions'|trans({}, 'Modules.Everblock.Admin') }}
                </h3>
                <p class="everblock-sidecard__subtitle">
                    {{ 'Jump straight into your daily tasks with shortcuts curated for content managers.'|trans({}, 'Modules.Everblock.Admin') }}
                </p>
                <ul class="everblock-sidecard__actions">
                    {% for action in quick_actions|default([]) %}
                        {% if action.url %}
                            <li>
                                <a class="everblock-sidecard__link" href="{{ action.url }}">
                                    <span class="everblock-sidecard__icon"><i class="{{ action.icon }}"></i></span>
                                    <span>
                                        <strong>{{ action.label }}</strong>
                                        {% if action.description %}
                                            <small>{{ action.description }}</small>
                                        {% endif %}
                                    </span>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="everblock-sidecard">
                <h3 class="everblock-sidecard__title">
                    <i class="icon-bullhorn"></i>
                    {{ 'Support & resources'|trans({}, 'Modules.Everblock.Admin') }}
                </h3>
                <p class="everblock-sidecard__subtitle">
                    {{ 'Need inspiration? Explore documentation, automations and best practices shipped with Ever Block.'|trans({}, 'Modules.Everblock.Admin') }}
                </p>
                <ul class="everblock-sidecard__badges">
                    {% if stats.blocks_total is defined %}
                        <li>
                            <span class="everblock-sidecard__badge">
                                <i class="icon-bar-chart"></i>
                                {{ 'Total blocks: %count%'|trans({'%count%': stats.blocks_total}, 'Modules.Everblock.Admin') }}
                            </span>
                        </li>
                    {% endif %}
                    {% if stats.faqs is defined %}
                        <li>
                            <span class="everblock-sidecard__badge">
                                <i class="icon-comments"></i>
                                {{ 'FAQ entries: %count%'|trans({'%count%': stats.faqs}, 'Modules.Everblock.Admin') }}
                            </span>
                        </li>
                    {% endif %}
                    {% if stats.modals is defined %}
                        <li>
                            <span class="everblock-sidecard__badge">
                                <i class="icon-external-link"></i>
                                {{ 'Active modals: %count%'|trans({'%count%': stats.modals}, 'Modules.Everblock.Admin') }}
                            </span>
                        </li>
                    {% endif %}
                    {% if stats.game_sessions is defined %}
                        <li>
                            <span class="everblock-sidecard__badge">
                                <i class="icon-gamepad"></i>
                                {{ 'Gamification sessions: %count%'|trans({'%count%': stats.game_sessions}, 'Modules.Everblock.Admin') }}
                            </span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </aside>
    </div>

    <div class="panel everblock-footer text-center">
        <h3><i class="icon icon-smile"></i> {{ 'Ever Block'|trans({}, 'Modules.Everblock.Admin') }}</h3>
        <a href="#everlogotop" class="d-block mb-2">
            <img id="everlogobottom" class="img-fluid" src="{{ asset('modules/everblock/logo.png') }}" alt="{{ 'Ever Block logo'|trans({}, 'Modules.Everblock.Admin') }}" style="max-width: 120px;" />
        </a>
        <p>
            <strong>{{ 'Thank you for your confidence :-)'|trans({}, 'Modules.Everblock.Admin') }}</strong><br />
            {{ 'Feel free to contact us for more support or help'|trans({}, 'Modules.Everblock.Admin') }}
        </p>
        <p class="mt-2">
            <a href="#everlogotop" class="btn btn-default">
                <i class="process-icon-arrow-up" aria-hidden="true"></i> {{ 'Back to top'|trans({}, 'Modules.Everblock.Admin') }}
            </a>
            {% if donation_link is defined and donation_link %}
                <a href="{{ donation_link }}" class="btn btn-warning" target="_blank">
                    <i class="icon-money"></i> {{ 'Make a donation'|trans({}, 'Modules.Everblock.Admin') }}
                </a>
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}
